# --------------------------------------
# ARCHIVOS SENSIBLES
# --------------------------------------
.env
*.env
.env.*

# --------------------------------------
# PYTHON
# --------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
build/
dist/

# --------------------------------------
# ENTORNO VIRTUAL
# --------------------------------------
venv/
env/
.venv/
.virtualenv/

# --------------------------------------
# DJANGO
# --------------------------------------
*.log
staticfiles/
media/
db.sqlite3

# --------------------------------------
# EDITORES
# --------------------------------------
.vscode/
.idea/

# --------------------------------------
# SISTEMA OPERATIVO
# --------------------------------------
.DS_Store
Thumbs.db
